<div class="wrapper-login">

  <form class="form-login">
    <div class="form-login__header form-login__header_mobile">
      <h2 class="form-login__head">Login</h2>
    </div>
    <div class="form-group label-floating form__input form-login__input">
      <label for="InputEmail" class="control-label">Email</label>
      <input type="email" class="form-control form-login__email_input" id="InputEmail">
    </div>
    <div class="form-group label-floating form__input form-login__input">
      <label for="InputPassword" class="control-label">Password</label>
      <input type="password" class="form-control form-login__password" id="InputPassword">
    </div>
    <div class="form-login__terms">
      <p class="form-login__terms-text">By signing up or clicking continue, I confirm that I have
        read and agree to the <a href="#" class="form-login_link">Terms</a> and <a href="#" class="form-login_link">Privacy
          Policy.</a></p>
    </div>
    <div class="form-login__submit">
      <button type="submit" class="btn btn-block form-login__submit-btn">Login</button>
    </div>

  </form>
</div>
