<div class="profile-additional-block">
  <div class="profile-about profile-about_main">

    <div class="profile-header">
      <h2 class="profile-header__txt">Profile info</h2>
    </div>

    <div class="profile-edit profile-edit_mob">
      <div class="profile-edit__btn profile-edit-all-mob__btn">
        <span class="profile-edit__pict ion-edit"></span>
      </div>
    </div>

    <div class="profile-edit-name">
      <h2 class="profile-edit__txt">
        <span class="profile-edit__first-name">Jessica</span>
        <span class="profile-edit__last-name">Parker</span>
      </h2>
      <p class="profile-edit__category">Business</p>
      <div class="profile-edit profile-edit_desktop">
        <div class="profile-edit__btn profile-edit-name__btn">
          <span class="profile-edit__pict ion-edit"></span>
        </div>
      </div>
    </div>

    <div class="profile-edit-meta">
      <div class="profile-edit-meta__common profile-edit-meta__common_site">
        <span class="profile-edit-meta__pict profile-edit-meta__pict_site ion-earth"></span>
        <span class="profile-edit-meta__txt profile-edit-meta__txt_site">www.seller.com</span>
        <div class="profile-edit profile-edit_desktop">
          <div class="profile-edit__btn profile-edit-site__btn">
            <span class="profile-edit__pict ion-edit"></span>
          </div>
        </div>
      </div>

      <div class="profile-edit-meta__common profile-edit-meta__common_tel">
        <span class="profile-edit-meta__pict profile-edit-meta__pict_tel ion-ios-telephone-outline"></span>
        <span class="profile-edit-meta__txt profile-edit-meta__txt_tel">(949) 325 - 68594</span>
        <div class="profile-edit profile-edit_desktop">
          <div class="profile-edit__btn profile-edit-tel__btn">
            <span class="profile-edit__pict ion-edit"></span>
          </div>
        </div>
      </div>

      <div class="profile-edit-meta__common profile-edit-meta__common_address">
        <span class="profile-edit-meta__pict profile-edit-meta__pict_address ion-ios-home-outline"></span>
        <span class="profile-edit-meta__txt profile-edit-meta__txt_address">Newport Beach, CA</span>
        <div class="profile-edit profile-edit_desktop">
          <div class="profile-edit__btn profile-edit-address__btn">
            <span class="profile-edit__pict ion-edit"></span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="profile-about profile-about_editing">

    <div class="profile-header">
      <h2 class="profile-header__txt">Profile info</h2>
    </div>
    <form class="profile-about-edit">
      <div class="form-group label-floating form__input profile-about-edit__form-input profile-about-edit__form-input_first-name">
        <label for="InputFirstNameMob" class="control-label">FIRST NAME</label>
        <input type="text" class="form-control profile-about-edit__input profile-about-edit__input_first-name" id="InputFirstNameMob">
      </div>
      <div class="form-group label-floating form__input profile-about-edit__form-input profile-about-edit__form-input_last-name">
        <label for="InputLastNameMob" class="control-label">LAST NAME</label>
        <input type="text" class="form-control profile-about-edit__input profile-about-edit__input_last-name" id="InputLastNameMob">
      </div>
      <div class="form-group label-floating form__input profile-about-edit__form-input profile-about-edit__form-input_first-site">
        <label for="InputSiteMob" class="control-label">WEBSITE</label>
        <input type="text" class="form-control profile-about-edit__input profile-about-edit__input_first-site" id="InputSiteMob">
      </div>
      <div class="form-group label-floating form__input profile-about-edit__form-input profile-about-edit__form-input_last-tel">
        <label for="InputPhoneMob" class="control-label">PHONE NUMBER</label>
        <input type="text" class="form-control profile-about-edit__input profile-about-edit__input_last-tel" id="InputPhoneMob">
      </div>
      <div class="form-group label-floating form__input profile-about-edit__form-input profile-about-edit__form-input_last-address">
        <label for="InputAddressMob" class="control-label">CITY, STATE & ZIP</label>
        <input type="text" class="form-control profile-about-edit__input profile-about-edit__input_last-address" id="InputAddressMob">
      </div>
    </form>
    <div class="profile-about-edit-btn">
      <div class="btn-changing profile-about-edit-btn_cancel-mob profile-about-edit-btn-cancel">CANCEL</div>
      <div class="btn-changing profile-about-edit-btn_save-mob profile-about-edit-btn-save">SAVE</div>
    </div>

  </div>

  <div id="popover-edit-name" class="popover-edit popover-edit_name">
    <div class="form-group label-floating form__input popover-edit__form-input popover-edit__form-input_first-name">
      <label for="InputFirstName" class="control-label">FIRST NAME</label>
      <input type="text" class="form-control popover-edit__input popover-edit__input_first-name" id="InputFirstName">
    </div>
    <div class="form-group label-floating form__input popover-edit__form-input popover-edit__form-input_last-name">
      <label for="InputLastName" class="control-label">LAST NAME</label>
      <input type="text" class="form-control popover-edit__input popover-edit__input_last-name" id="InputLastName">
    </div>
    <div class="popover-edit__buttons">
      <div class="btn-blue popover-edit__button-save">SAVE</div>
      <div class="btn-changing popover-edit__button-cancel">CANCEL</div>
    </div>
  </div>
  <div id="popover-edit-site" class="popover-edit popover-edit_site">
    <div class="form-group label-floating form__input popover-edit__form-input popover-edit__form-input_first-site">
      <label for="InputSite" class="control-label">WEBSITE</label>
      <input type="text" class="form-control popover-edit__input popover-edit__input_first-site" id="InputSite">
    </div>
    <div class="popover-edit__buttons">
      <div class="btn-blue popover-edit__button-save">SAVE</div>
      <div class="btn-changing popover-edit__button-cancel">CANCEL</div>
    </div>
  </div>
  <div id="popover-edit-tel" class="popover-edit popover-edit_tel">
    <div class="form-group label-floating form__input popover-edit__form-input popover-edit__form-input_last-tel">
      <label for="InputPhone" class="control-label">PHONE NUMBER</label>
      <input type="text" class="form-control popover-edit__input popover-edit__input_last-tel" id="InputPhone">
    </div>
    <div class="popover-edit__buttons">
      <div class="btn-blue popover-edit__button-save">SAVE</div>
      <div class="btn-changing popover-edit__button-cancel">CANCEL</div>
    </div>
  </div>
  <div id="popover-edit-address" class="popover-edit popover-edit_address">
    <div class="form-group label-floating form__input popover-edit__form-input popover-edit__form-input_last-address">
      <label for="InputAddress" class="control-label">CITY, STATE & ZIP</label>
      <input type="text" class="form-control popover-edit__input popover-edit__input_last-address" id="InputAddress">
    </div>
    <div class="popover-edit__buttons">
      <div class="btn-blue popover-edit__button-save">SAVE</div>
      <div class="btn-changing popover-edit__button-cancel">CANCEL</div>
    </div>
  </div>

</div>

