<div class="profile-main-block">

  <div class="profile-logout">
    <a href="/" class="btn-changing profile-logout__btn">Logout</a>
  </div>

  <div class="profile-upload">
    <div class="profile-upload__btn">
      <span class="ion-camera profile-upload__pict"></span>
      <span class="profile-upload__txt">Upload Cover Image</span>
    </div>
  </div>

  <div class="profile-image" style="background-image: url('/images/profile_image.jpg')">
  </div>

  <div class="profile-name">
    <h2 class="profile-name__txt">Jessica Parker</h2>
  </div>

  <div class="profile-meta">
    <p class="profile-meta__common profile-meta__common_tel">
      <span class="ion-ios-telephone-outline profile-meta__pict"></span>
      <span class="profile-meta__common-txt">(949) 325 - 68594</span>
    </p>
    <p class="profile-meta__common profile-meta__common_address">
      <span class="ion-ios-location-outline profile-meta__pict"></span>
      <span class="profile-meta__common-txt">Newport Beach CA</span>
    </p>
  </div>

  <div class="profile-rating">
    <div class="profile-rating__stars">
      <span class="ion-android-star profile-rating__star"></span>
      <span class="ion-android-star profile-rating__star"></span>
      <span class="ion-android-star profile-rating__star"></span>
      <span class="ion-android-star profile-rating__star"></span>
      <span class="ion-android-star-outline profile-rating__star"></span>
    </div>
  </div>

  <div class="profile-reviews">
    <span class="profile-reviews__number">6</span>
    <span class="profile-reviews__txt">reviews</span>
  </div>

  <div class="profile-followers">
    <span class="ion-ios-plus profile-followers__item profile-followers__item_pict"></span>
    <span class="profile-followers__item profile-followers__item_number">15</span>
    <span class="profile-followers__item profile-followers__item_txt">Followers</span>
  </div>

  <nav class="profile-menu" role='navigation'>
    <ul class="profile-menu__list">
      <li class="profile-menu__item active"><a href="/about.html">about</a></li>
      <li class="profile-menu__item"><a href="/settings.html">settings</a></li>
      <li class="profile-menu__item"><a href="#">option1</a></li>
      <li class="profile-menu__item"><a href="#">option2</a></li>
      <li class="profile-menu__item"><a href="#">option3</a></li>
    </ul>
  </nav>

</div>
