
$black: #333333;
$input-label: #a6b0b7;
$login-input: #3f454a;
$login-terms-text: #a8b8c4;
$login-terms-link: #007ee5;
$login-button: #f5f8f9;
$white: #ffffff;
$profile-head-mob: #727e88;
$shadow: #3a4b5d;
$border-login: #d0dce7;
$blue-nav: #028dfe;
$profile-edit-btn: #ecf1f5;
