.btn-changing {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  @include logout-link;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $login-terms-link;
  }
  @media (min-width: $screen-sm-min) {
    padding: 9px 21px 9px;
    border: 1px solid $login-terms-link;
    border-radius: 3px;
    line-height: 1;
  }
}

.btn-blue {
  display: inline-block;
  padding: 9px 30px 9px;
  background-color: $login-terms-link;
  border: 1px solid $login-terms-link;
  border-radius: 3px;
  cursor: pointer;
  @include logout-link;
  color: $white;
  line-height: 1;
}

