.form__input.form-group.label-floating {
  input {
    @include input-text;
    padding: 8px 0;
  }
  label {
    @include input-label;
    text-transform: uppercase;
  }
  .control-label {
    @include input-text;
    text-transform: uppercase;
    top: -10px;
  }
}
.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
  top: -34px;
  @include input-label;
  text-transform: uppercase;
}

.form__input.form-group.label-floating.profile-change-pass__input {
  input {
    @include input-text;
    padding: 8px 0;
  }
  label {
    @include input-label;
    text-transform: capitalize;
  }
  .control-label {
    @include input-text;
    text-transform: capitalize;
    top: -10px;
  }
}
.form-group.label-static.profile-change-pass__input label.control-label,
.form-group.label-floating.is-focused.profile-change-pass__input label.control-label,
.form-group.label-floating:not(.is-empty).profile-change-pass__input label.control-label {
  top: -34px;
  @include input-label;
  text-transform: capitalize;
}
